name: CI

on: [push]

jobs:
  check:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: yarn install
      run:  sudo apt-get update && sudo apt-get install yarn
    - name: package install
      run:  yarn
    - name: lint
      run:  yarn lint
    - name: test
      run:  yarn test:cov
